# Next.js Configuration
NODE_ENV=development

# API Configuration (if needed in future)
# NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Third-party Services
# NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here

# Feature Flags
NEXT_PUBLIC_SANDBOX_ENABLED=true
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiY2hvbWJvY2hpbm9rb3NvcmFtb3RvIiwiYSI6ImNsYWIzNzN1YzA5M24zdm4xb2txdXZ0YXQifQ.mltBkVjXA6LjUJ1bi7gdRg
NEXT_PUBLIC_CESIUM_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwMzA3Y2NkYS1jNzJlLTRlMWMtOWI1Ni05ODM5ZjczNGE3MGEiLCJpZCI6NDA4Nzg0LCJpYXQiOjE3NzQ0MTYyMTZ9.mKfoPtUVmp2_pb-yci0QqB3tX8A2a_tBHXrmvt1bOBc

OPENWEATHERMAP_API_KEY=ae9af9bb6224315e875922b1e22261b5
TOMTOM_API_KEY=O9x3E6y1UfSqJ0nKEHFIpRJJnJiVCdHe